html,body {
    margin: 0px;
    padding: 0px;
    background-color:rgb(51, 22, 51);
}

.body-principal{
    text-align: center;
    color: white;
}

.principal{
    padding: 20px;
    color: white;
}
.navigation{
    background-color: yellow;
}
.navigation {
    background-color: black;
    color: white;
    height: 61px;
    font-size: 0.75rem;
}

.titulo-responsivo{
    display: none;
}

.navigation ul { 
    margin-top:0;
    list-style: none;
    padding-left:0;
    text-align: right;
    height: 50px;
}

.navigation li {
    display: inline-block ;
    padding-left: 30px;
    padding-right:30px;
    line-height: 60px;
    font-weight: 100;   
    cursor: pointer;
}

.navigation li:hover {
    transition-duration: 0.1s;
    transform: scale(1.3);
}

.navigation a {
    color: white;
    text-decoration: none;
}
.navigation a:hover {
    color: purple;
}

.bg-image-inicio {
    background-image:url('../img/bgmarketing-png.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 120px;
    font-size: 22px;   
}
.bg-image-inicio h1 {
    text-shadow: 5px 5px 2px rgb(0, 0, 0);  
}
.bg-image-inicio h2 {
    text-shadow: 5px 5px 2px rgb(51, 22, 51);  
    margin-top: 60px;
}


.caminho{
    list-style: none;
    padding-left: 0;
    color: white;
}

.caminho li{
    display: inline-block ;
    font: 16px;
}

.sobre-capa {
    color:white;
    font-family: 'Bungee Outline', cursive;
}
.sobre-capa h2 {
    color:white;
    font-family: 'Bungee Outline', cursive;
    text-shadow: 5px 5px 2px black;
}

.sobre-capa div{
    display: inline-block;
    

}

.sobre-capa-nome{
    font-size: 58px;
    color:tomato;
}

.sobre {
    width: 100%;
}

.experienciaprofissional{
    width: 100%;
}


.profile-pic {
    width: 39%;
    text-align: center;
    margin-top: 10px;
    
}
.profile-title{
    vertical-align:top;
    width:59% ;
}

.profile-title h1{
    font-size: 58px;
    margin-top: 40px;
    margin-bottom: 0;
}

.profile-title h2{
    font-size:22px;
}

.profile-pic img{
    width: 350px;
    border-radius:50px ;
}

.miniatura{
    width:320px;
    height: 320px;
    background-color: yellow;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 15px;
    display:inline-block;
    background-image: url('../img/ccb.jpg');
    overflow: hidden;
    
}
.miniatura a{
    text-decoration: none;
    color: white;
}

.blackbox{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity:0 ;
    padding-top:100px ;
}
.blackbox:hover{
    cursor: pointer;
    transition-duration: 0.37s;
    opacity: 0.85;
}
.blackbox-text h1{
    font-size:16px;
    color:red;
    text-transform:uppercase;
    margin-top: 0;

}
.blackbox-text h2{
    text-transform: none;
    font-weight:100;
    margin-top: 0;
}
.inicio{
    color:white;
    font-family:  'Montserrat';
    margin-right: 70px;
   
}
.inicio div{
    display: inline-block;
}
.profile-inicio{
    width: 39%;
    text-align: center;
    margin-top: 70px;
    background-color: rgb(51, 22, 51);
}
.profile-title-inicio{
    vertical-align:top;
    width:59% ;
    text-align: justify;
}

.back-link{
	color: #df9fd9;
	text-decoration: none;
	display: block;
	margin-top: 40px;
}

.lista{
    text-align: justify;
    margin-left: 360px ;
}

listaa1{
    text-align: justify;
    margin-left: 260px;
}

.navigation li.threeline-icon {
    display: none;
}

.video {
    width: 560px;
    height: 315px;
}

@media (max-width: 1000px) {


    .imagem-portfolio {
        width: 90%;
    }
    .profile-pic {
        width: 40%;
        text-align: center;
        margin: 35px auto;
    }
    
    .listaa1{
        margin-left: 0px;
    }

    .titulo-responsivo{
        display: block;
    }

    .lista{
        margin-left: 0px;
    }

    .navigation li {
        display: none;
    }
    
    .navigation li.threeline-icon {
        display: inline-block;
    }

    .image-assinatura {
        display:none;
    }

    .video {
        width: 90%;
        height: 315px;
    }

    .inicio{
        color:white;
        font-family:  'Montserrat';
        margin-right: 0px;
    }
    
    .capa div {
        display: block;
        height: auto;
    }
    
    .profile-pic img {
        max-width: 75%;
        margin-top: 0;
        max-width: 80%;
    }
    
    .profile-title {
        text-align: center;
        width: 100%;
    }
    .titulo-desktop{
        display: none;
    }
    
    .profile-title h1 {
        margin-top: 30px;
        font-size: 36px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .profile-title h2 {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .main {
        padding: 10px 5% 40px 5%;
        overflow-wrap: break-word;
          word-wrap: break-word;
    }
    
    .main p {
        text-align: left;
        line-height: 30px;
    }
    
    .caminho li {
        font-size: 12px;
    }
    
    .profile-inicio {
        float: none;
        max-width: 100%;
        
    }
    
    .miniatura {
        max-width: 100%;
        background-size: auto 100%;
    }
    
    
    .menujs {
        height: auto;
    }
    
    .menujs ul {
        height: auto;
        text-align: center;
        padding-right: 15%;
        padding-left: 15%;
    
    }
    
    .menujs li {
        display: block;
        border-bottom: solid grey 1px;
        width: 100%;
        padding: 0;
    }  

    .profile-pic {
        width: 100%;
    }

    .profile-pic img {
        max-width: 75%;
        margin: auto;
    }

    .profile-inicio{
        width: 80%;
        text-align: center;
        margin-top: 30px;
        background-color: rgb(51, 22, 51);
    }
    .profile-title-inicio{
        vertical-align:top;
        width:80% ;
        text-align: justify;
    }
    .body-responsivo {
        margin: 30px;
    }

    .bg-image-inicio {

        padding-bottom: 7px;
 
    }
}





 





